<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

</head>
<body>

<header th:fragment="navbar_fragment">
	<nav class="navbar sticky-top navbar-expand-lg navbar-light ">
		<div class="container-fluid">
			<a class="navbar-brand" href="/home"><img src="/images/favicon.png" alt="icon" ></a>
			<div class="toggler">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="navig-link home"  href="/"> Hungry Student </a></li>
				</ul>
				<div class="toggler">

					<div class="out">
						<div th:each="el:${name}">
							<p th:text="${el}"></p>
						</div>
					</div>
					<div class="out">
						<a class="sing-out-btn btn btn-outline-success " sec:authorize="isAuthenticated()" th:href="@{/logout}">Sing Out</a>
					</div>

				</div>

			</div>
		</div>
	</nav>
</header>

<footer th:fragment="footer_fragment">
	<footer class="text-center text-lg-start bg-light text-muted">
		<section class="d-flex foot_1 justify-content-center justify-content-lg-between p-4 border-bottom">
			<div class="me-5 d-none d-lg-block">
				<span>Get connected with us on social networks:</span>
			</div>
			<div>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-facebook-square"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-google"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-linkedin"></i>
				</a>
				<a href="" class="me-4 text-reset">
					<i class="fab fa-github"></i>
				</a>
			</div>
		</section>
		<section class="">
			<div class="container text-centertext-md-start mt-5" >
				<div class="row mt-3">
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<h6 class="text-uppercase fw-bold mb-4">
							</i>Hungry Student
						</h6>
						<p>
							Smart cooking will become your domain. Review your food reserves and come back to us for some great ideas.
						</p>
					</div>
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<h6 class="text-uppercase fw-bold mb-4">
							Contact
						</h6>
						<p><i class="fas fa-home me-3"></i> Poland, Lublin, PL</p>
						<p>
							<i class="fas fa-envelope me-3"></i>
							hungry-student@gmail.com
						</p>
					</div>
				</div>
			</div>
		</section>
		<div class="text-center foot_3 p-4" >
			© 2021 Copyright: <i class="fas fa-hamburger"></i> Hungry Student
			<!--<a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
		</div>
	</footer>
</footer>
</body>
</html>