.navbar {
    background-color: #1f2935;
    border-bottom: 1px solid #bebebe;
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
    text-align: center;
}
body {
    background-image: url("/images/double-bubble-outline.png");
    scrollbar-track-color: transparent;
    overflow: overlay;
}

.navbar-nav li {
    font-size: 110%;
    margin: 2% 1vw 2% 1vw; /* top, right, bottom, left */
    color: #11112e;
}

.navbar-nav li > a:hover {
    color: #ffffff;
}
.navbar-nav li a:hover {
    color: #ffffff !important;
}

.sing-in-label {
    margin-top: 1vh;
    color: #000000;
    font-weight: 700;
    font-size: 250%;
    font-family: "Montserrat", sans-serif;
    text-align:center;
}

.sing-in-label-2 {
    margin-top: 0.5vh;
    color: #000000;
    font-size: 120%;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0.5vh;
    text-align:center;
}

.form-white{
    margin-bottom:0.5vh;
}

button[type="submit"] {
    margin-top: 0;
    margin-bottom: 1vh;
}

button[type="submit"]:focus {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.9);
    border: 1px solid #ffffff;
}

.btn-add{
    text-align:center;
}

.form-control:focus
{
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
    border: 1px black solid;
}

input[type=text]:focus
{
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
    border: 1px black solid;
}

.errors{
    text-align:center;
    color: #fa837a;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.nav-item:hover {
    color: #868686;
    text-align: center;
    text-decoration: none;
}

.navbar-nav li a:hover {
    color: #868686 !important;
}

.navbar-nav > li > a {
    color: #11112e;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav-item-active {
    color: #868686;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.second-menu {
    display: none;
}

@media (max-width: 992px) {

  .navbar-nav li > .navig-link:hover {
    border: 0;
  }

  .navbar-brand {
    display: none;
  }

  .toggler {
    text-align: center;
    width: 100%;
  }

  .second-menu {
    display: block;
  }

  .first-menu {
    display: none;
  }

}


.sing-out-btn {
    color: rgb(0, 0, 0);
    border: 1px black solid;
    padding:1.5vh 2vw 1.5vh 2vw ;
    border-radius:0.3vw;
    transition: background-color 0.2s ease-in-out;
    font-size: 110%;

}

.sing-out-btn:hover {
    color: rgb(255, 255, 255);
    background-color: #fa837a;
    border: 1px black solid;
    inline:block;
}

.btn-add-new:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(104, 104, 104);
    border: 1px rgb(104, 104, 104) solid;
    inline:block;
}

.sing-out-btn:focus {
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0);
}

.me-4 {
    text-decoration: none;
}

.btn-add > a:focus {
    border: 1px black solid;
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0);
}

.btn-add > a{
    color: rgb(0, 0, 0);
    border: 1px black solid;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100%;
    background-color:white;
}

.btn-save{
    color: rgb(0, 0, 0);
    border: 1px black solid;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 50%;
    background-color:white;
}

.btn-add > a:hover,
.btn-save:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(104, 104, 104);
    border: 1px rgb(104, 104, 104) solid;
}

.image {
    height: 40vh;
    text-align: center;
}

.image > img {
    width: 80%;
    height: 40vh;
}

@media (min-width: 992px) {
.image > img {
    width: 100%;
    height:40vh;
}
}

.card-body {
    background-color: #f5fafc;
}

.card{
    margin-bottom:4vh;
    display:inline-block;
    padding:2%;
    border:0;
    background-color:transparent;
}

.dish{
    display:inline-block;
}

.bord_shadow{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.bord{
    border-radius:0.5vw;
    padding:1%;
    border: 1px solid #bebebe;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.name-of-recipe {
    color: rgb(41, 41, 41);
    letter-spacing: 0.2vw;
    font-size: 150%;
    font-weight: 400;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    max-height:10vh;
    height:10vh;
}

.btn-group > button[type="submit"]:focus {
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0);
}

.columna{
    display: inline-block;
}

.btn-group {
    display: inline-block;
}

.btn-group button[type="submit"] {
    margin-top: 0px;
    margin-bottom: 0px;
}


.btn-add {
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.forma{
    display:inline-block;
}

.card-text{
    max-height:15.75vh;
    height:15.75vh;
}

.out
{
    display:inline-block;
}

.out p
{
    color:white;
}

.out>a{
    background-color:white;
}

.foot_1{
    background-color: #fcfcd9;
    border-top: 1px solid #bebebe;
    -webkit-box-shadow: 0px -16px 29px -16px rgba(189,189,189,1);
    -moz-box-shadow: 0px -16px 29px -16px rgba(189,189,189,1);
    box-shadow: 0px -16px 29px -16px rgba(189,189,189,1);
}


.foot_3{
    border-top: 1px solid #bebebe;
    background-color: #ffffc7;
}

.bold{
    font-size: 150%;
    margin-top:5.25vh;
}

.btn-add>a{
    text-align:center;
}

.back{
    text-decoration:none;
    color: black;
    text-align: right;
}

.back:hover{
    text-decoration:none;
    color: #969695;
}
.arrow{
    font-size:7vh;
}

.publ{
    color:#fa837a;
    font-size:150%;
    background-color:#ffffff;
    min-height: 5.75vh;
    text-align:right;
    padding-right:1vw;
    font-family: "Montserrat", sans-serif;
}

.collapse>ul>li>ul>li dropdown-item:hover{
    color:red;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
}


#content-wrap {
    padding-bottom: 50vh;    /* Footer height */
}

.publ-form{
    text-align:center;
    font-family: "Montserrat", sans-serif;
}

/*****************************************/
body::-webkit-scrollbar-track {
    background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
    background-image: url("/images/scroll.jpg");
    border-radius: 0.2vw;
}
body::-webkit-scrollbar {
    width: 0.7vw;
    height: 4vh;
}



.navbar {
    text-align: center;
    border-bottom: 1px solid #bebebe;
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.57);
}

.navbar-nav li {
    margin-bottom: 1vh;
    margin-top: 1vh;
    color: #ffffff;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.nav-item:hover {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.navbar-nav li > .dropdown-menu {
    margin-top: 0px;
    text-align: center;
    border-radius: 0;
    border: none;
    background-color: #ffffff;
    transition: color 0.8s ease-in-out;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.navbar-nav li > .dropdown-menu a:hover {
    color: #fa837a;
    background-color: #ffffff;
}
.navbar-nav li a:hover {
    color: #fa837a !important;
}

.navbar-nav > li > a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.navbar-nav li > .dropdown-menu a {
    color: #11112e;
    margin-top: 0;
    transition: color 0.3s ease-in-out;
}

.navbar-nav li:hover > .dropdown-menu {
    display: block;
    background-color: #ffffff;
    border-radius:0.2vw;
    margin: 0;
}

@media (min-width: 992px) {
  .dropdown-menu {
    left: 50% !important;
    margin-top: 0;
    transform: translate(-50%, 0) !important;
    -webkit-transform: translate(-50%, 0) !important;
    -moz-transform: translate(-50%, 0) !important;
  }
}

@media (max-width: 992px) {
  .navbar-nav li > .dropdown-menu a:hover {
    color: #ff5f5f;
  }

  .navbar-nav li > .navig-link:hover {
    border: 0;
  }

  .navbar-nav li > .dropdown-menu a {
    color: #000000;
    transition: color 0.3s ease-in-out;
    background-color: #fff;
  }

  .navbar-nav li > .dropdown-menu {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 0px 0px #000000,
      0px 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px #000000, 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .navbar-nav li:hover > .dropdown-menu {
    background-color: #fff;
  }

  .navbar-nav li > .dropdown-menu a:hover {
    background-color: #fff;
  }
}

.card_href{
    text-decoration:none;
}

.card_href:hover{
    text-decoration:none;
}

.contact{
    text-decoration:none;
    color:white;
}

.contact:hover{
    color:#ff5f5f;
}