<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
    <link rel="stylesheet" href="/css/dashboard.css" type="text/css">
</head>
<body>
<div id="page-container">
    <div th:insert="fragments/components :: navbar_fragment"></div>
    <div id="content-wrap">
        <a href="/all_my_dishes" class="back col-1 offset-10 offset-md-8 " > <span class="arrow">&#8592;</span></a>
        <div class="container">
            <div class="row  col-10 offset-1 col-md-6 offset-md-3 ">
                <div class="margin"></div>
                <form th:action="@{'/edit{dish_name}'(dish_name=${placeholders[0]})}" th:object="${dish}" method="POST" class=" sing-in-panel " value="False" >
                    <h2 class="sing-in-label"><p th:text="${placeholders[0]}" th:remove="tag"></h2>
                    <p class="sing-in-label-2">Please enter dish details!</p>
                    <div class=" form-white " style="display:none">
                        <label class="form-label" for="dish_name">Dish name</label>
                        <input type="text" id="dish_name" class="form-control form-control-lg" name="dish_name" th:value="${placeholders[0]}" />
                    </div>
                    <div class=" form-white ">
                        <label class="form-label" for="dish_desc">Dish description</label>
                        <textarea maxlength="500" type="text" id="dish_desc" class="form-control form-control-lg" name="dish_desc" /><p th:text="${placeholders[1]}" th:remove="tag"></p></textarea>
                    </div>
                    <div class=" form-white ">
                        <label class="form-label" for="dish_recipe">Dish recipe</label>
                        <textarea maxlength="1500" type="text" rows="8" id="dish_recipe" class="form-control form-control-lg" name="dish_recipe"  /><p th:text="${placeholders[2]}" th:remove="tag"></p></textarea>
                    </div>
                    <div class=" form-white publ-form ">
                        <input type="checkbox" name="publish" id="publish" value="Public" th:checked="${active[0]}" />
                        <label for="publish" >Public</label>
                    </div>
                    <div class="errors"  th:each="el:${errors}">
                        <p th:text="${el}"></p>
                    </div>
                    <div class="btn-add ">
                        <button class="sing-out-btn btn-save btn-outline-success " type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:insert="fragments/components :: footer_fragment"></div>
</div>



</body>
</html>
