<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Refresh" content="3;url=http://localhost:8080">
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/error.css" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">

</head>
<body>
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 frame">

                <div class="help_text"><p>Page not found</p></div>
                <div class="help_text_oops"><p>Oops!</p></div>
                <p class="text">404</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>