<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
    <link rel="stylesheet" href="/css/dashboard.css" type="text/css">
</head>
<body>
<div id="page-container">
    <div th:insert="fragments/components :: navbar_fragment"></div>
    <div id="content-wrap">

    </div>
    <div th:insert="fragments/components :: footer_fragment"></div>
</div>
</body>
</html>
