<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hungry student</title>
    <meta name="title" content="Hungry student">
    <meta name="description" content="Application for students who want to learn cooking">
    <meta name="keywords" content="for students, hungry, eat, meal, burger, student ">
    <meta name="author" content="Ivan Asipovich">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/singUpPanel.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&amp;display=swap" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/components :: sing_up_fragment"></div>
</body>
</html>