<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
    <link rel="stylesheet" href="/css/dashboard.css" type="text/css">
</head>
<body>

<div id="page-container">
    <div th:insert="fragments/components :: navbar_fragment"></div>
    <div id="content-wrap">
        <a href="/all_my_dishes" class="back col-1 offset-10 offset-md-9 " ><span class="arrow"> &#8592;</span></a>
        <div class="container">
            <div class="row  col-10 offset-1 col-md-8 offset-md-2 ">

                <form th:action="@{/view{dish_name}}" th:object="${dish}" method="POST" class=" sing-in-panel " value="False" >

                    <h2 class="sing-in-label"><p th:text="${placeholders[0]}" th:remove="tag"></h2>
                    <div class=" form-white ">
                        <p class="form-label bold" >Dish description</p>
                        <div class="form-control form-control-lg" name="dish_desc" >
                            <p th:text="${placeholders[1]}" th:remove="tag"></p>
                        </div>
                    </div>
                    <div class="form-white" style="margin-bottom:40px">
                        <p class="form-label bold">Dish recipe</p>
                        <div class="form-control form-control-lg" name="dish_recipe"  >
                            <p th:text="${placeholders[2]}" th:remove="tag"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:insert="fragments/components :: footer_fragment"></div>
</div>

</body>
</html>
